.card {
    object-fit: contain;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 100 px;
    width: 150px;
    margin: 20px 0px;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip:  border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
}


.spacer {
    flex: 1 1 auto;
}