
<button mat-raised-button style="margin-top: 10px; margin-bottom: 10px;" color="accent" (click)="getData()">Load orders</button>

<!-- Shopkeeper Orders table -->
<!-- *ngIf="this.accountService.currentUser.value.role == 1" -->
<div *ngIf="this.accountService.currentUser.value.role == 1">
  <mat-form-field style="margin-top: 10px;">
    <mat-label>Filter</mat-label>
    <input matInput type="text" (keyup)="applyFilter($event)" placeholder="search" #search>
</mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Cancel Orders column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Cancel Order</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Cancel Order" class="iconbutton" color="warn"
        (click)="orderService.deleteOrder(element.id); orderService.loadAllOrders(); this.dataSource.data = this.orderService.orders">
            <mat-icon aria-label="Cancel">cancel</mat-icon>
          </button>
      </td>
    </ng-container>
    
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Order Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- email/username Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Username/Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <!-- date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'MM-dd-yyyy'}} </td>
      </ng-container>
    
      <!-- products Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> <ul> <li *ngFor="let each of element.products">{{each.name}}</li> </ul> </td> 
      </ng-container>

      <!-- products Column -->
      <!-- <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Products </th>
        <td mat-cell *matCellDef="let element"> {{element.products}} </td>
      </ng-container> -->
    
      <!-- Totals Column -->
      <ng-container matColumnDef="totals">
        <th mat-header-cell *matHeaderCellDef> Order Total </th>
        <td mat-cell *matCellDef="let element"> {{element.orderTotal}} </td> 
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
    
    
    <!-- Customer orders table -->

<!-- *ngIf="this.accountService.currentUser.value.role == 0" -->
  <div *ngIf="this.accountService.currentUser.value.role == 0">
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    
      <!-- Cancel Orders column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Cancel Order</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Cancel Order" class="iconbutton" color="warn"
          (click)="orderService.deleteOrder(element.id); orderService.loadUserOrders(); this.dataSource2.data = this.orderService.userOrders">
              <mat-icon aria-label="Cancel">cancel</mat-icon>
            </button>
        </td>
      </ng-container>
    
      
          
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Order Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date:'MM-dd-yyyy'}} </td>
        </ng-container>
      
      <!-- products Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> <ul> <li *ngFor="let each of element.products">{{each.name}}</li> </ul> </td> 
      </ng-container>
    
      <!-- products Column -->
      <!-- <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Products </th>
        <td mat-cell *matCellDef="let element"> {{element.products}} </td>
      </ng-container> -->

      <!-- Totals Column -->
      <ng-container matColumnDef="totals">
        <th mat-header-cell *matHeaderCellDef> Order Total </th>
        <td mat-cell *matCellDef="let element"> {{element.orderTotal}} </td> 
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>

  </div>
  <div><button mat-raised-button style="margin-top: 10px;" color="accent" (click)="ui.showAccount()">Go back</button></div>