.container {
    display: flex;
    flex-flow: column;
}

.product {
    width: 700px;
    margin: 20px;
    min-height: 230px;
}

.edit-button {
    margin: 5px;
    max-width: 250px;
}

.execute-button {
    margin: 5px;
    max-width: 40px;
}

.execute-button-two {
    margin: 5px;
    width: 200px;
}

.inactive {
    font-size: 14px;
    color: grey;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.description {
    max-width: 400px;
}

.bold {
    font-weight: bold;
}

table {
    margin-bottom: 30px;
  }

mat-form-field {
    margin-top: 20px;
}